@import url('https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker|Cinzel:700|Kalam|Tinos|Varela+Round');

.credentials {
    height: 50px;
    width: 50px;
}

.centred-content {
    position: relative;
    text-align:center;
    align-items: center;
    display: inline-block;
    justify-content: center;
}

.social {
    margin: 0 auto;
    padding: 15px;
}

.updowncolors {
    background-color: #343a40;
}

.footer {
    height: 100px;
}

.socialtitle{
    padding-top: 15px;
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
}

.fixed-margins {
    margin-left: auto !important;
    margin-right: auto !important;
}

td {
    text-align: center;
    display: block;
}

tr {
    display: inline-block;
}

table {
    margin: 0 auto;
}

.img-sizer {
    height: 250px;
    width: 150px;
    object-fit:scale-down;
}

.possibilities {
    list-style-type: none;
}

#main-content {
    padding: 140px 0px 40px 0px;
}

nav {
    padding-bottom: 20px;
}

.thumbnail a img {
    height: 250px;
    width: 48%;
}

.data-detailed {
    margin: 90px 0px 5px 0px;
    width: 200px;
    height: 300px;
}

.detailed-img {
    margin: 35px 0px 5px 0px;
    width: 200px;
    height: 300px;
}

.blok {
    display: inline-block;
    margin: 10px 0px 10px 0px;
}

.blok-detailed {
    display: inline-block;
}

.back {
    background-color: #C0C0C0;
}

.book-display {
    padding: 15px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.title {
    padding-top: 8px;
    padding-bottom: 1px;
    margin: 0;
    /*font-family: 'Permanent Marker', cursive;*/
    /*font-family: 'Kalam', cursive;*/
    font-family: 'Cinzel', serif;
    font-size: 18px;
}

.author {
    padding-bottom: 5px;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
}

.body-color {
     background-color: #E8E8E8 !important;
}

.for-buttons {
    color: black;
}

.footer-font {
    color: white;
}

.top-view-margin {
    margin-top: 50px;
    margin-bottom: 15px;
}

.bottom-view-margin {
    margin-top: 20px;
    margin-bottom: 25px;
}

.dtofields {
    display: inline !important;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
}

.usercols {
    margin: 50px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.userboxes {
    height: 560px;
    color: white;
}

.editbox {
    color: white;
}

.photo-scale {
    height: 150px;
    width: 150px;
}

.photo-subtitle {
    margin: 8px 0px 0px 0px;
}

.photo-subtitle2 {
    margin: 0px 0px 5px 0px;
}

.item {
    display: flex;
}

.value-div {
    display: block;
}

.top-value {
    font-family: 'Varela Round', sans-serif;
    font-size: 11px;
    margin: 5px 0px 0px 15px;
    white-space: nowrap;
    font-weight: bold;
}

.bot-value {
    margin: 0px 0px 5px 15px;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
}

.Row {
    display: table;
}

.icon-div-fix {
    width: 30px;
    margin: 0px 0px 0px 20px;
}

.Col {
    height: 60px;
	display: table-cell;
}

.MiddleCenter {
	text-align: center;
	align-items: center;
	vertical-align: middle;
}

.MiddleCenterValues {
	text-align: left;
	align-items: center;
	vertical-align: middle;
}

.nick {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}

.fullname {
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

.gradient {
    background: linear-gradient(#e66465, #5CB3FF);
}

.gradient2 {
    background: linear-gradient(#5CB3FF, #e66465);
}

.gradient3 {
    background: linear-gradient(#fff700, #5CB3FF);
}

.gradient4 {
    background: linear-gradient(#1e1e1e, #b1b2b6);
}

.photo-margin {
    margin: 10px 0px 10px 0px;
}

.action-margin {
    margin: 30px 0px 10px 0px;
}

.action-subtitles {
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    font-weight: bold;
    display: block;
}

.action-links {
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}

.actionbutton {
    color: #ffffff !important;
    background: #5CB3FF !important;
    margin: 30px 0px 20px 0px;
    padding: 8px 4px 8px 4px;
    font-family: 'Varela Round', sans-serif;
    opacity: 0.9;
}

.actionbutton:hover {
    background: #5CB3FF !important;
    opacity: 0.75;
}

.link-color {
    color: #ffffff !important;
}

.action-btn-div {
    margin-top: 18px;
}

.shadowed {
    text-shadow: 1px 1px 1px black;
}

.editlabel {
    width: 80px !important;
}

.form-field {
    margin: 0 auto;
    position: relative;
}

.action-margin {
    margin: 30px 0px 10px 0px;
}

.edit-margin {
    margin: 15px 0px 20px 0px;
}

.updatebutton {
    background: #e66465 !important;
}

.createbutton {
    background: #e66465 !important;
}

.validators {
    background: #e66465;
}

.main-book-title {
    margin: 0 auto;
    padding: 15px 0px 15px 0px;
    font-family: 'Cinzel', serif;
    font-size: 50px;
    font-weight: bold;
}

.section-margins {
    margin-bottom: 15px;
}

.insider {
    background: #d0d3cf;
    padding-top: 38px;
    margin: 15px;
}

.index-insider {
    background: #d0d3cf;
    padding: 15px;
}

.main-menu-panels {
    padding: 15px;
    font-size: 22px;
}

.bot-margin {
    margin-bottom: 30px;
}

.index-title {
    font-size: 40px;
}

.detail-atr {
    font-weight: bold;
}

.single-book {
    background: #b1b2b6;
    padding: 20px 20px 0px 20px;
}

.single-panel {
    margin: 0px 0px 15px 0px;
}

.padded-row {
    padding: 0px 20px 0px 20px;
}

.bookgroup {
    margin: 0px 0px 15px 0px;
}

.whiter {
    color: #ffffff !important;
}

.bookedit {
    background: #00caff !important;
}

.bookdelete {
    background: #e71837 !important;
}

.tobuttonspacer {
    margin-bottom: 5px !important;
}

.addinginnerpanel {
    width: 326.663px !important;
    height: 389.2px !important;
}

.addingspace {
    margin: auto 0px;
}